<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mundosica.e_scolar_estudiantes" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>E-Scolar</name>
    <description>
        Aplicación escolar para estudiantes.
    </description>
    <author email="programacion@mundosica.com" href="http://mundosica.com">
        Mundosica Team
    </author>
    <content src="index.html" />
    <icon src="icon.png" />
    <preference name="permissions" value="none" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:splash gap:platform="winphone" src="www/res/screen/windows-phone/screen-portrait.jpg" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
