
.logo_letras {
	display: block;
	margin: 0 auto;
}

.ui-page-theme-a {
	background: #e6e6e6; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(#FFFFFF, #e6e6e6); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#FFFFFF, #e6e6e6); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#FFFFFF, #e6e6e6); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#FFFFFF, #e6e6e6); /* Standard syntax */
}

div.msg {
	margin-bottom: 20px;
}
.fecha{
	font-size: 0.6em;
	color: #4D4D4D;
	float: right;
}
